*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding:0;
	border-style: solid;
	border-color: lightblue;
	font-family:'Quicksand', sans-serif ;
	:#6D2D61
	src: url(https://fonts.google.com/specimen/Quicksand?query=qui#standard-styles);
}

.a .nav-link dropdown-toggle{
	color:#6D2D61
}
.nav-item {
	text-decoration: #6D2D61;
	font-size: 35px;
}
.nav-link {
	
	font-size: 35px;
	
}

.logo1{
	height: 100vh;
}
.verde{
	background-color: chartreuse;
	height: 6rem;
	
}

.morado{
	background-color: purple;
	height: 30rem;
	

}

.naranja{
	background-color: orange;
	height: 35rem
	
}

.rojo{
	background-color: red;
	height: 35rem
	

}
.iconos{
	
	display: flex;
	justify-content: space-around;



}

.rosado{
	background-color: white;
	border-style: solid;
	border-color: white;
	margin-top: 2vh;
	display: flex;
	justify-content: space-around;


	
}

.amarillo{
	background-color: yellow;
	height: 70%

}

.gris1{
	background-color: blue;
	height: 70%

	}

.gris2{
	background-color: gray;
	height: 70%

	}

.gris3{
	background-color: black;
	height: 70%

	}

/*comienzo de consulta de mnedios*/

@media only screen and (max-width: 600px){
  .morado{
	background-color: darkred;
	height: 30rem;
	
  }
  	.naranja{
		background-color: gray;
		height: 35rem
	
}


}
#uno{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    animation-delay: 2.5;
    animation-duration: 2.5s ;

}

#dos{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    animation-delay: 2;
    animation-duration: 2s ;
}

#tres{
    height: 100%;
    width: 100%;
    position:  absolute;
    z-index: 3;
    animation-delay: 2.5;
    animation-duration: 2.5s ;
}

#cuatro{
    height: 40%;
    width: 40%;
    position:  relative;
    z-index: 3;
    animation-delay: 2.5;
    animation-duration: 2.5s ;
}

#cinco{
    height: 40%;
    width: 40%;
    position:  relative;
    z-index: 3;
    animation-delay: 2.5;
    animation-duration: 2.5s ;
}

#seis{
    height: 40%;
    width: 40%;
    position:  relative;
    z-index: 3;
    animation-delay: 2.5;
    animation-duration: 2.5s ;
}

#siete{
    height: 40%;
    width: 40%;
    position:  relative;
    z-index: 3;
    animation-delay: 2.5;
    animation-duration: 2.5s ;
}

#ocho{
    height: 40%;
    width: 40%;
    position:  relative;
    z-index: 3;
    animation-delay: 2.5;
    animation-duration: 2.5s ;
}

#nueve{
    height: 40%;
    width: 40%;
    position:  relative;
    z-index: 3;
    animation-delay: 2.5;
    animation-duration: 2.5s ;
}
.text{
	text-align: center;
	margin-bottom: 2vh;
}
.pies{
	background-color: #6D2D61;
	margin-top: 2vh;
}
.foto{
	
	height: 100vh;
	background-color:white;
	margin-left: auto;
	margin-right: auto;

}
.yo{
	margin-top: 2vh;
	margin-bottom: 2vh;
	
}
.icono1{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 30vh;
	margin-left: auto;
	margin-right: auto;
	
}

.diseño{
	text-align: center;
}

.h1{
	justify-content: center;
	align-items: center;
	text-align: center;
	color:#6D2D61;
	font-weight:bold
}
.h2{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn-group1 .button1 {
	background-color: #6D2D61;
	border-style: none;
	color: white;
	padding: 15px 32px;
	text-align: left;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
	display: block;
	margin-top: 8vh;
  }
  
  .btn-group1 .button1:not(:last-child) {
	border-bottom: none; /* Prevent double borders */
  }
  
  .btn-group1 .button1:hover {
	background-color:#2e1129;
  }
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
  }
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  .container {
	border-radius: 5px;
	background-color: #6D2D61;
	padding: 20px;
  }
  
  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }